<div class="links">
  <a href="http://twitter.com/OSDCpire" rel="me nofollow" target="_blank">
    <i class="fa fa-twitter fa-2x"></i>
    <span class="visually-hidden">Twitter</span>
  </a>
  <a href="http://github.com/LabAdvComp/" rel="me nofollow" target="_blank">
    <i class="fa fa-github fa-2x"></i>
    <span class="visually-hidden">GitHub</span>
  </a>
  <a href="https://www.youtube.com/OpenCloudConsortium" rel="me nofollow" target="_blank">
    <i class="fa fa-youtube fa-2x"></i>
    <span class="visually-hidden">RSS</span>
  </a>
 <!--<a href="https://www.linkedin.com/company/open-cloud-consortium" rel="me nofollow" target="_blank">
    <i class="fa fa-linkedin fa-2x"></i>
    <span class="visually-hidden">LinkedIn</span>
  </a>
  <a href="https://code.google.com/p/cloud-interop/" rel="me nofollow" target="_blank">
    <i class="fa fa-flag fa-2x"></i>
    <span class="visually-hidden">Google Code</span>
  </a>-->



</div>
<div class="footer-desc">
  <span>A resource of the</span>
    <!--<a href="http://opencloudconsortium.org/"><img style="vertical-align:middle" src="/static/occ_logo_sm.png" alt="Open Cloud Consortium"></a> <span>and made possible by our <a href="/sponsors"> sponsors.</a></span> -->
    <a href="http://occ-data.org/">Open Commons Consortium</a> <span>and made possible by our <a href="/sponsors"> sponsors.</a></span> 

</div>
