{% load branding i18n nav_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% block meta_title %}{% endblock %} - {% site_branding %}</title>
    {% include "horizon/_conf.html" %}
    {% block css %}
    {% include "_stylesheets.html" %}
    {% endblock %}
    {% include "horizon/client_side/_script_loader.html" %}
     <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34483848-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
    {% show_nav content.slug %}
    {% block content %}
    
    <div class='container'>
      {% block header %}{% endblock %}
      {% block main %}{% endblock %}
    </div>
    {% endblock %}

    <div id="footer">
      {% block footer %}{% endblock %}
    </div>

    {% block js %}
    {% include "horizon/_scripts.html" %}
    {% comment %}
    {% if not content.img %}
    <script type="text/javascript">
      $("#nav-{{ content.slug }}").attr('class', 'active')
    </script>
    {% endif %}
    {% endcomment %}

    {% endblock %}
    <div id="modal_wrapper"></div>
    <div class="modal-footer osdc-footer">
      <div class="container">
         <span><a href="http://www.uchicago.edu/"><img style="vertical-align:middle" src="/static/dashboard/img/uchicago.png" alt="the University of Chicago"></a></span>
<img style="vertical-align:middle" src="/static/dashboard/img/divider.png" alt="divider">
    <a href="http://opencloudconsortium.org/"><img style="vertical-align:middle" src="/static/occ_logo_sm.png" alt="Open Cloud Consortium"></a> <span>and our <a href="https://www.opensciencedatacloud.org/sponsors/"> sponsors.</a></span>
      </div>

    </div>
  </body>
</html>
