{% extends "base.html" %}
{% block meta_title %}
{{ content.title }}
{% endblock %}

{% block content %}
<div class='container'>

<div class="maincontent">
<header class="jumbotron subhead cms">
  <h1>OSDC Projects</h1>
</header>

<!--
</div>
-->
<div class="container">
  
<script type="text/javascript">
$("#nav-projects").attr('class', 'active')
</script>

<h3>Bionimbus</h3> <div class="span12"> 
<p>Bionimbus is a collaboration between the Institute for Genomics and
Systems Biology (<a href="http://www.igsb.org">IGSB</a>) at the
University of Chicago and the OSDC to develop open source technology
for managing, analyzing, transporting, and sharing large genomics
datasets in a secure and compliant fashion.</p>

<p>The Bionimbus Community Cloud, which the OSDC ran for several years, has now been integrated
into the OSDC itself (you can use OSDC-Adler or OSDC-Sullivan), while
open access biological and biomedical data is now part of the OSDC
Data Commons (OSDC-Root).  The OSDC Data Commons contains a variety of
public biological datasets, including the 1,000 Genomes dataset.  </p>
  
<p>The Bionimbus Protected Data Cloud (PDC) is a collaboration between
the OSDC and the IGSB, the Center for
Research Informatics (<a href="http://cri.uchicago.edu">CRI</a>), and the Institute for Translational
Medicine (ITM) at the University of Chicago. The PDC allows users
authorized by NIH to compute over human genomic data from dbGaP in a
secure and compliant fashion. Currently, selected datasets from the The
Cancer Genome Atlas (TCGA) are available in the PDC. </p>

<p>More information about Bionimbus can be found at <a href="http://bionimbus.opensciencedatacloud.org">bionimbus.opensciencedatacloud.org</a>
</p>  
</div>

<h3>Matsu</h3>
<div class="span12">
<p>Matsu is a collaboration between NASA and the Open Cloud
Consortium to develop open source technology for cloud-based
processing of satellite imagery to support the earth sciences. </p>

<p>The OSDC is used to process Earth Observing 1 (EO-1) satellite
  imagery from the Advanced Land Imager and the Hyperion instruments
  and to make this data available to interested users. We are
  currently working on developing services for detecting fires and
  floods and getting relevant information to first responders. </p> 

<p>More information about Matsu can be found at <a href="http://matsu.opensciencedatacloud.org">matsu.opensciencedatacloud.org</a>
</p>
</div>

<h3>Bookworm</h3>
<div class="span12">
<p>
OSDC supports Bookworm from Harvard's Cultural Observatory and offers a way to interact with digitized book content and full text search. Bookworm uses ngrams extracted from books in the public domain and integrates library metadata, including genre, author information, publication place and date. See <a href="http://arxiv.culturomics.org">arxiv.culturomics.org</a>. </p>
</div>


<h3>Conte Cloud</h3> <div class="span12"> <p> The Atwood Protected
Data Cloud (aka Conte Cloud) is a Bionimbus based cloud computing
infrastructure designed to store genomics, electronic medical records,
and other sensitive data in a secure and compliant environment.  The
Atwood Protected Data Cloud is used by the <a
 href="http://www.contechicago.org/">Silvio O. Conte Center</a> for
Computational Neuropsychiatric Genomics. Based at the University
of Chicago, the mission of the Conte Center is to apply integrated
informatics and mathematical modeling to predict genetic and
environmental factors underlying mental health and illness, including
autism, schizophrenia, bipolar disorder, depression, anxiety disorders
and conduct disorder.  Data includes legacy genetic association and
linkage datasets, including over 60 TB of genomic (e.g. GWAS, whole
exome) and phenotypic (e.g. clinical, brain imaging) data from the <a
 href="http://ndar.nih.gov/">National Database of Autism Research
(NDAR),</a> as well as data sets from the <a
 href="https://www.nimhgenetics.org/">Center for Collaborative Studies
on Mental Disorders</a> supported by the <a
 href="http://www.nimh.nih.gov/index.shtml">National Institute of
Mental Health</a>, which gives authorized researchers access to the
relevant collections. </p>
</div>
<h3>ENCODE Cloud</h3>
<div class="span12">
<p>
The National Human Genome Research Institute (NHGRI) launched a public
  research consortium named ENCODE, the Encyclopedia Of DNA Elements,
  in September 2003, to carry out a project to identify all functional
  elements in the human genome sequence. The OSDC provides a hot back
  up of all the data from the ENCODE project and enables interested researchers the ability
  to compute over all this data using the OSDC.
</p>
<p>
The modENCODE project is described in <a href="http://dx.doi.org/10.1038/459927a">Unlocking the Secrets of the Genome</a>, Nature 2009 Jun 18;459(7249):927-30.
</p>
</div>

<h3>Neocodex / Web of Law</h3>
<div class="span12">
<p>
Neocodex is a collaboration between researchers and professors from Stanford Law School, Duke University, Royal Melbourne Institute of Technology, Université Pierre et Marie Curie, Autonomous University of Barcelona and other institutions to develop open source technology for integrating, analyzing and making available information from all international courts and national jurisdictions in open linked data standards, including the automated processing, analysis and visualization of social networks (neutrals, litigants, and other entities), semantic networks (citations, case-law contents, legal knowledge) and the publication of corpus collections with added metadata.
</p>
</div>
<h3>Metaknowledge</h3>
<div class="span12">
<p>
Knowledge does not arise from the simple accumulation of facts. Rather, it is a complex, dynamic system, and its emergent outcomes -including scientific consensus- are unpredictable. The complexity of knowledge creation has exploded with the growing number of participating scientists and citizens. If human knowledge is to grow efficiently, we need a deeper understanding of the processes by which knowledge is conceived, validated, shared and reinforced. We need to understand the limits of knowledge in relation to these processes. In short, we need knowledge about knowledge.<br>
<br>
The current explosion of digitally available text, including journal publications, books, patents and news articles, makes it possible for the first time in history to study the dynamics that shape scientific research at scale, as the latest computational tools can capture some of the richness of these insights. <a href="http://www.knowledgelab.org/">The Metaknowledge Project</a> develops leading edge machine learning and data mining tools and methods to catalyze a new field devoted to understanding the current shape and limits of human understanding. The project is lead by <a href="http://www.ci.uchicago.edu/people/profile.php?id=746">James Evans</a> from the department of sociology and the <a href="http://www.ci.uchicago.edu/">Computation Institute</a> at the University of Chicago.
</p>
</div>



<h3>NSF OSDC Partnership for International Research & Education (PIRE) Projects</h3>
<div class="span12">
<p>
The Open Science Data Cloud (OSDC) PIRE Program provides U.S. graduate students, post doctoral scientists, and early career scientists with fellowships so that they can work with OSDC PIRE partners in a variety of countries around the world on big data science.
</p>
<p>
The OSDC has PIRE Partners in a number of countries, including the United Kingdom, Brazil, the Netherlands, Japan, Korea and China.  The OSDC PIRE program is hosted by the University of Chicago, Florida International University, and the University of Illinois at Chicago.  The OSDC PIRE program is supported in part by a five-year grant from the National Science Foundation.  
</p>
<p>
If you are a US Citizen or permanent resident and are interested in this unique opportunity, please contact info@opencloudconsortium.org
</p>
</div>



<h3>Propose Your Own Project</h3>
<div class="span12">
<p>
To get involved with the OSDC, propose your own project by contacting one of the OSDC members or by writing to info@opencloudconsortium.org.
</p>
</div>
</div>
</div>
</div>
{% endblock %}
