<header class="jumbotron subhead">
  <h1>Sponsors</h1>
</header>
<div class="span12">
<p>
Major funding and support for the Open Science Data Cloud is provided
  by the <a href="http://www.moore.org/">Gordon and Betty Moore
  Foundation</a>, which has provided $2M of funding to the OSDC to
  launch Phase 1 of the project (2011-2014). Moore Foundation funding
  is used to support the OSDC-Adler, Sullivan and Root facilities.  </p>
<p>
Additional funding for the OSDC has been provided by the following sponsors:
</p>
<ul>
<li>The OCC-Y Hadoop Cluster (approximately 1000 cores and 1 PB of
  storage) was donated by Yahoo! in 2011. </li>
<li>
Cisco provides the OSDC access to the Cisco C-Wave, which connects
OSDC data centers with 10 Gbps wide area networks.
</li>
<li>
NSF awarded the OSDC a 5-year (2010-2016) $3.5M PIRE award to train
scientists to use the OSDC and to further develop the underlying
technology.
</li>
<li>
The StarLight Facility in Chicago allows OSDC to connect to over 30
high performance research networks around the world at 10 Gbps or
higher, with an increasing number of 100 Gbps connections.
</li>
<li>
Yahoo! donated 5 racks of equipment to the OSDC in 2008. These racks
provided over 800 cores and 0.6 PB of data for the Proof of Concept
OSDC (2008-2010).
</li>
</ul>
<p>
The OSDC is managed by the Open Cloud Consortium, a 501(c)(3)
not-for-profit corporation. If you are interested in providing funding
or donating equipment or services, please contact us at 
<a href="mailto:info@occ-data.org">info@occ-data.org</a>
</p>
</div>

{% include "horizon/_scripts.html" %}
<script type="text/javascript">
$("#nav-overview").attr('class', 'active')
</script>
