{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}new_permission_form{% endblock %}
{% block form_action %}{% url files:create_permission %}{% endblock %}

{% block modal-header %}{% trans "Add a File to a Group" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>
        {% trans "Choose a file or collection and user or group." %}
    </p>
    <p>
        {% trans "To share files with a users." %}
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add File to Collection" %}" />
  <a href="{% url files:permission %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

