{% load i18n sizeformat %}
<div class="usage_info_wrapper">
  <form action="" method="get" id="date_form" class="form-horizontal">
    <h3>{% trans "Select a month to query its usage" %}: </h3>
    <div class="form-row">
      {{ form.month }}
      {{ form.year }}
      <button class="btn btn-small" type="submit">{% trans "Submit" %}</button>
    </div>
  </form>

  <p id="activity">
    {% comment %}
    <span><strong>{% trans "Active Instances" %}:</strong> {{ usage.summary.instances|default:'-' }}</span>
    <span><strong>{% trans "Active Memory" %}:</strong> {{ usage.summary.memory_mb|mbformat|default:'-' }}</span>
    <br />
    {% endcomment %}
    <span><strong>{% trans "This Month's Cloud Core Hours" %}:</strong> {{ usage.summary.cloud_cores|floatformat:2|default:'-' }}</span>
    <span><strong>{% trans "This Month's Cloud Disk Usage (GB)" %}:</strong> {{ usage.summary.cloud_du|floatformat:2|default:'-' }}</span>
    
    <br />
    {% if usage.summary.hadoop_hdfsdu != -1 %}
    <span><strong>{% trans "This Month's Hadoop Disk Usage (GB)" %}:</strong> {{ usage.summary.hadoop_hdfsdu|floatformat:2|default:'-' }}</span>
    {% endif %}

    {% if usage.summary.hadoop_jobs != -1 %}
    <span><strong>{% trans "This Month's Hadoop Job Hours" %}:</strong> {{ usage.summary.hadoop_jobs|floatformat:2|default:'-' }}</span>
    {% endif %}
  </p>
</div>
