{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}new_collection_file_form{% endblock %}
{% block form_action %}{% url files:create_collection_file %}{% endblock %}

{% block modal-header %}{% trans "Add a File to a Collection" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>
        {% trans "Choose a file and collection." %}
    </p>
    <p>
        {% trans "To add a file to a collection select the file and collection." %}
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add File to Collection" %}" />
  <a href="{% url files:collection_file %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

