<header class="jumbotron">
  <h1>Bionimbus</h1>
  <p class="lead">A cloud-based infrastructure for managing, analyzing
  and sharing genomics datasets.</p>
</header>


</div>

<div class="container">
 
<div class="row"> <div class="span4"> <h3
  class="sub-topic">Bionimbus</h3> <p> Bionimbus is a collaboration
  between the Institute for Genomics and Systems Biology <a
   href="http://www.igsb.org">(IGSB)</a> at the University of Chicago
  and the Open Science Data Cloud to develop open source technology
  for managing, analyzing, transporting, and sharing large genomics
  datasets in a secure and compliant fashion.  </p>

<p>The Bionimbus Protected Data Cloud (PDC) is a collaboration between
  the Open Science Data Cloud and the IGSB (<a href="http://www.igsb.org">IGSB</a>), 
 the Center for Research Informatics (<a href="http://cri.uchicago.edu">CRI</a>), and the Institute for
  Translational Medicine (<a href="http://itm.uchicago.edu">ITM</a>)
  at the University of Chicago. The
  PDC allows users authorized by NIH to compute over human
  genomic data from <a href="http://www.ncbi.nlm.nih.gov/gap">dbGaP</a> in a secure compliant fashion. Currently,
  selected datasets from the The Cancer Genome Data Center (<a href="http://cancergenome.nih.gov/">TCGA</a>) are
  available in the PDC. </p>
  

<p>Version 2 of Bionimbus is used by the IGSB and
    their collaborators to manage data from the IGSB's High-Throughput Genome Analysis Core
<a href="http://www.igsb.org/services/hgac/">(HGAC)</a>.
Version 3 of Bionimbus is beta and uses some of the OSDC's common core services.</p>
</div>

  <div class="span4">
    <h3 class="sub-topic">Bionimbus Resources</h3> 
    <p>
<ul>
<li>Bionimbus (v3 beta) <a href="https://www.opensciencedatacloud.org">Community Cloud</a></li>
<li>Bionimbus (v3 beta) <a href="https://bionimbus-pdc.opensciencedatacloud.org">Protected Data Cloud</a></li>
<li>Bionimbus (v3 beta) <a href="http://bc.bionimbus.org">IGSB Private Cloud</a></li>
<!-- <li>Bionimbus (v2) <a href="http://www.bionimbus.org">IGSB Private Cloud</a></li> -->
</ul>
</p>
</div>

  <div class="span4">
    <h3 class="sub-topic">Bionimbus Support</h3> 
    <p>
<ul>
<li>Bionimbus (v3) <a href="http://www.bionimbus.org/tutorials/">tutorials</a> </li>
<li>Bionimbus <a
    href="http://www.slideshare.net/rgrossman/bionimbus-towards-one-million-genomes-xldb-2012-lecture">XLDB
    12</a> Talk </li>
</ul>

   </p>
 </div>
</div>