{% extends "base.html" %}
{% block meta_title %}
Edit Page
{% endblock %}

{% block header %}
<header class="jumbotron">
<h2>Edit Page</h2>
</header>
{% endblock %}

{% block main %}
<form action="/content-admin/edit/{{ page.slug }}/" method="post">{% csrf_token %}
    <fieldset>
    {% for field in form %}
        <div class="control-group {% if form.name.errors %}error{% endif %}">
            {{ field.label_tag }}
            <div class="controls">
            {{ field }}
            <span class="help-inline">{{ field.errors }}</span>
            </div>
        </div>
    {% endfor %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-maincontent">Save Page</button>
      </div>
    </div>
    </fieldset>
</form>
{% endblock %}
