<header class="jumbotron">
  <img src="/static/OSDC_RGB_Horiz_sm.jpg">
</header>

<div class="row"> 
  <div class="span10 offset1 maincontent">
    <h1>Cloud Services for the Scientific Community</h1>
    <h3>
      The mission of the OSDC is to enable scientific progress by providing petabyte scale cloud resources
      where researchers can easily manage, analyze, and share data.
    </h3>
    <a href="/apply" class="btn btn-large btn-maincontent">Get Started Now</a>
  </div>
</div>

  <div class="container">
      <div class="row">
        <div class="span6">
          <div class="maincontent-left">
          <h2 class="sub-topic">Featured OSDC Projects</h2>
          <h3><a href="http://bionimbus.opensciencedatacloud.org/">Bionimbus</a></h3>
          <p>
            Bionimbus is a cloud-based system for genomic data, developed in collaboration with the <a href="http://www.igsb.anl.gov/">Institute for
            Genomics and Systems Biology</a> at the <a href="http://www.uchicago.edu">University of Chicago</a>. Bionimbus is used by members of the 
            NIH-funded <a href="http://www.modencode.org/">modENCODE Consortium</a> to analyze data produced by the project.
          <h3><a href="http://matsu.opensciencedatacloud.org/">Project Matsu</a></h3>
          <p>
            Project Matsu is a collaboration with NASA to process <a href="http://eo1.gsfc.nasa.gov/">Earth Observing 1 (EO-1)</a> satellite imagery to
            detect fires and floods and provide relevant information to first responders. The data is freely available
            from the OSDC to interested users.
          <h3><a href="https://github.com/opencloudconsortium/">Tukey</a></h3>
          <p>
            Tukey is the open source software that drives the OSDC console, named after John Tukey, an American mathematician. 
            Tukey features not found in other
            cloud console applications include federated authentication using Shibboleth and OpenID, SSH keypair 
            generation for gateway machines, and support for both Eucalyptus and OpenStack clouds. 
          </p>
        </div>
        </div>

        <div class="span6">
          <div class="maincontent-right">
          <h2 class="sub-topic">How can I get involved?</h2> 
          <h3><a href="/apply">Apply</a></h3>
          <p>
            Fill out a short application and try out the OSDC free with 10 cores and 1TB of storage. 
            If you require more resources, we are happy to work with you to support your research.
          </p>
          <h3><a href="http://opencloudconsortium.org/">Partner</a></h3>
          <p>
            Partner with us and add your own racks to the OSDC (we will manage
            them for you). Organizations can also join the <a href="http://opencloudconsortium.org/">Open Cloud Consortium (OCC)</a>
            which had a number of working groups, including the OSDC.
          </p>
          <h3><a href="https://github.com/opencloudconsortium/">Develop</a></h3>
          <p>
            All of the software developed as part of the OSDC is open source and hosted on GitHub.
            You can directly help the scientific cloud computing community by contributing to the 
            open source OSDC software stack.
          </p> 
          <h3><a href="mailto:info@opencloudconsortium.org">Contact Us</a></h3>
          <p>
            Questions? Comments? Suggestions? Contact us at 
            <a href="mailto:info@opencloudconsortium.org">info@opencloudconsortium.org.</a>
          <p>
          </div>
        </div>
      </div>
    </div>
