<header class="jumbotron">
  <h1>OCC Project Matsu</h1>
  <p class="lead">An open source project for cloud-based processing of
  satellite imagery to support the earth sciences.</p>
</header>


</div>

<div class="container">

  
<script type="text/javascript">
$("#nav-overview").attr('class', 'active')
</script>
 
<div class="row">
  <div class="span4">
    <h3 class="sub-topic">Project Matsu</h3>
    <p>
Project Matsu is a collaboration between NASA and the Open Cloud
Consortium to develop open source technology for cloud-based
processing of satellite imagery to support the earth sciences.
Technology developed by the collaboration include:
<ul>
<li>The Namibia Flood Dashboard.</li>
<li>MapReduced based analytics for identifying floods and CO<sub>2</sub> concentrations.</li>
<li>Using elastic infrastructure-as-a-service to create Level
  1 images each day.</li>
<li>A Hadoop-based OGC-compliant tiling service and Web MapService.</li>
</ul>
</p>

<p>You can learn more from these
<a href="matsu-demonstrations.html">five minute videos</a> introducing some Matsu tools.
</p>

  </div>

  <div class="span4">
    <h3 class="sub-topic">Matsu Resources</h3> 
    <p>
<ul>
<li>Daily Namibia <a
    href="http://matsu.opencloudconsortium.org/namibiaflood">Flood
    Dashboard</a></li>
<li>Hadoop-supported Web Map Service (<a href="http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/">WMS</a>)
<li><a
    href="http://lvoc-matsu.opensciencedatacloud.org/AvailableImages/available.jsp">Available
    Matsu images</a></li>
</ul>
</p>
  </div>

  <div class="span4">
    <h3 class="sub-topic">Matsu Support</h3> 
    <p>
<ul>
<li>The code can be found at the <a href="https://github.com/opencloudconsortium/matsu-project">OCC Github site</a>. </li>
<li>Description of Matsu <a href="matsu-workflow-20120907-v4.pdf">Tile and WMS Services</a>.
<li>Sample <a
    href="http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/?lat=63.5427&lng=-19.3261">CO<sub>2</sub>
    Detection</a> Query (click "CO<sub>2</sub>")  </li>
<li>Sample <a
    href="http://lvoc-matsu.opensciencedatacloud.org/SimpleWMS/?lat=-17.4&lng=15.8&z=9">Flood
    Detection</a> Query (click "cloud, land, water")</li> 


</ul>

   </p>
 </div>
</div>