<header class="jumbotron subhead">
  <h2>Project Matsu Demonstrations</h2>
</header

<div class="container">
<div class="row">
  <div class="span4">
    <h3 class="sub-topic">Matsu WMS Service</h3>
    <p>
   <iframe src="http://player.vimeo.com/video/50101340" width="250"
    height="166" frameborder="0" webkitAllowFullScreen
    mozallowfullscreen allowFullScreen></iframe> <p><a
    href="http://vimeo.com/50101340">Matsu: Web Map Service
    (WMS)</a> from <a href="http://vimeo.com/user13701951">Open Cloud
    Consortium</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    </p>
  </div>

  <div class="span4">
    <h3 class="sub-topic">Detecting CO2</h3> 
    <p>

<iframe src="http://player.vimeo.com/video/50098755" width="250" height="186" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/50098755">Matsu - Detecting CO2 from Hyperspectral Data From NASA's EO-1 Satellite</a> from <a href="http://vimeo.com/user13701951">Open Cloud Consortium</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
  </p>
  </div>
  <div class="span4">
    <h3 class="sub-topic">Available EO-1 Images</h3> 
    <p>
<iframe src="http://player.vimeo.com/video/50096781" width="250" height="166" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/50096781">Matsu - Images Available From NASA's EO-1 Satellite</a> from <a href="http://vimeo.com/user13701951">Open Cloud Consortium</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
  </p>
 </div>
</div>

