{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}new_group_form{% endblock %}
{% block form_action %}{% url files:create_group %}{% endblock %}

{% block modal-header %}{% trans "Create A New Group" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>
        {% trans "Choose a uniqe name for a new group." %}
    </p>
    <p>
        {% trans "To share a file with a user add both the file and user to the same group" %}
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Group" %}" />
  <a href="{% url files:group %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

