{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}new_file_form{% endblock %}
{% block form_action %}{% url tukey_admin:create_login_shibboleth %}{% endblock %}

{% block modal-header %}{% trans "Add Shibboleth Info to Login" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>
        {% trans "Choose a user and enter an unused eppn for that user." %}
    </p>
    <p>
        {% trans "An eppn is usually the user's institution email address.  Watch out for email aliases as an alias will not be the same as the eppn." %}
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add Shibboleth Info to Login" %}" />
  <a href="{% url tukey_admin:login_shibboleth %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

